.mainLayout {
    width: 100dvw;
    height: 100dvh;
}

.doorbellContainer {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doorbellButton {
    width: 50vmin !important;
    height: 50vmin !important;
    font-size: 30vmin !important;
    margin-top: auto;
    margin-bottom: auto;
}

.doorbellButton > * {
    font-size: 30vmin !important;
}

.doorbellButton > * > * {
    font-size: 30vmin !important;
}

.doorbellText {
    text-align: center;
}