.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.footer {
    border-top: 4px solid white;
    box-shadow: 0px;
    position: absolute;
    bottom: 0px;
    height: 128px;
    width: 100dvw;
}

.albumArt {
    width: 128px;
    height: 128px;
}